@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  transition: cursor 0.2s ease;
}

.cursor-none {
  cursor: none !important;
}

@keyframes gradient-cycle {
  0% { background-color: #fbffc5; } 
  33% { background-color: #e6cfff; } 
  66% { background-color: #ceffbe; } 
  100% { background-color: #fbffc5; } 
}

.animate-gradient-cycle {
  animation: gradient-cycle 19s ease infinite;
}

.oswald {
  font-family: "Oswald", sans-serif;
}

@keyframes ticker-cycle {
  0% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateX(-50%);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}

.animate-ticker-cycle {
  animation: ticker-cycle 80s infinite;
}

@keyframes ticker-cycle-reverse {
  0% {
    transform: translateX(-50%);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(-50%);
    animation-timing-function: ease-out;
  }
}

.animate-ticker-cycle-reverse {
  animation: ticker-cycle-reverse 80s infinite;
}